services:
  homeassistant:
    image: "homeassistant/home-assistant:latest"
    container_name: homeassistant
    restart: unless-stopped
    #network_mode: host
    networks:
      - homeassistant
    ports:
      - '8123:8123'
    environment:
      - TZ=Asia/Shanghai
    volumes: 
      - homeassistant:/config
  matter-hub:
    image: ghcr.io/t0bst4r/home-assistant-matter-hub:latest
    container_name: matter-hub
    restart: unless-stopped
    #network_mode: host
    networks:
      - homeassistant
    ports:
      - '8482:8482'
    environment: # more options can be found in the configuration section
      - TZ=Asia/Shanghai
      - HAMH_HOME_ASSISTANT_URL=http://homeassistant:8123/
      - HAMH_HOME_ASSISTANT_ACCESS_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJjZTNlNjNiOGZhYjU0M2Y4YjhkMjA0ZjI1YjFjNDU4OSIsImlhdCI6MTc2NjEzNzc5MiwiZXhwIjoyMDgxNDk3NzkyfQ.IAeoHd_qwi8W5WdIc16ahhSD_MUzX7AF18tUk5uKNh0
      - HAMH_LOG_LEVEL=info
      - HAMH_HTTP_PORT=8482
    volumes:
      - homeassistant:/data
volumes:
  homeassistant:
    external: true
networks:
  homeassistant:
    driver: bridge